.App {
  text-align: center;
}

.card-image {
  width: 200px; /* width of container */
  height: 130px; /* height of container */
  overflow: hidden;
  border: 5px solid black;
}

.card-image img {
  margin: -40px 0px 0px -10px;
}
